<nav class="bg-mist-950">
  <section class="flex.col p-3">
    <div class="">
      <img src="logotest.png" alt="logo" class="" />
    </div>
    <div class="flex pt-2 justify-between">
      <div class="pt-1 pb-2 w-auto">
        <input type="text" placeholder=" Search..." class="bg-white p-0.5 rounded-l-xl w-80"/>
        <button class="bg-purple-700 p-0.5 rounded-r-xl">Search</button>
      </div>
      <div class="flex gap-2 text-white self-center">
        <button routerLink="/cart">Cart</button>
        <button>Heart</button>
      </div>
    </div>
    <div class="flex text-white font-bold justify-around">
      <a>News</a>
      <a>Popular</a>
      <a>Sale</a>
    </div>
  </section>
</nav>
